fastapi
uvicorn[standard]
asyncpg==0.29.0
python-dotenv>=1.2.1
httpx
protobuf
google-genai
edge-tts
SpeechRecognition

# Các thư viện MCP
mcp>=1.20.0
fastmcp>=2.13.0.2
mcp-proxy>=0.10.0
pydantic>=2.12.3
django-googlesearch
requests
beautifulsoup4
ddgs